.main__image {
    position: absolute;
    width: 100%;
    height: 700px;
    /* background-image: url('../../../images/family-moving-using-boxes_1157-35481.jpeg'); */
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    object-fit: cover;
    object-position: 10% 50%;
}