.main__image-container {
    position: relative;
    width: 100%;
    /* width: 850px; */
    height: 600px;
    background-image: url('../../../images/kochurova.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
}

@media (max-width: 730px){
    .main__image-container {
        background-size: 150%;
        height: 450px;
    }
}

@media (max-width: 600px){
    .main__image-container {
        display: none;
    }
}