.main {
    padding-top: 20px;
    display: flex;
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    position: relative;
}

@media(max-width: 600px){
    .main{
        padding-top: 10px;
        /* height: 95vh; */
        flex-direction: column;
    }
}