.main {
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    max-width: 1024px;
    height: 770px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    /* background-color: #F9FCFF; */
}